.place__text {
  font-family: 'Inter', sans-serif;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #fff;
  margin: 0;
  margin-bottom: 26px;
}

.place__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__text {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__text {
    margin-bottom: 25px;
    font-size: 1rem;
    line-height: 26px;
  }
}

@media screen and (max-width: 425px) {
  .place__text {
    margin-left: 16px;
    margin-right: 16px;
  }
}

