.place__website-link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 22px;
  color: #fff;
  text-decoration: underline;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .place__website-link {
    margin-left: 16px;
    margin-right: 16px;
  }
}