.cover__title {
  margin: 0;
  max-width: 560px;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  z-index: 2;
}

@media screen and (max-width: 500px) {
  .cover__title {
    max-width: 250px;
    font-size: 2rem;
    line-height: 35px;
  }
}