.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 46.8%  49.2%;
    row-gap: 48px;
    column-gap: 40px;
    margin: 0;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 47.4%  49.2%;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 47.3%  48.9%;
        column-gap: 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 425px) {
    .place {
        grid-template-columns: 100%;
        row-gap: 32px;
        margin-bottom: 50px;
    }
}