.place__website-url {
  font-size: .75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0;
  margin-bottom: 12px;
}

@media screen and (max-width: 425px) {
  .place__website-url {
    margin-left: 16px;
    margin-right: 16px;
  }
}